<p>Thanks for installing the Conifer plugin!</p>

<h3><strong>What's next?</strong></h3>

<ul>
  <li>
    Get started with the <a href="https://coniferplug.in/basics"
      title="Conifer Basics documentation page">Conifer Basics</a>
  </li>
  <li>
    <a href="https://github.com/sitecrafting/conifer/issues"
      title="Report an issue on GitHub">Report an issue</a>
  </li>
  <li>
    <a href="https://coniferplug.in/how-to-contribute"
      title="Learn how to contribute">Contribute to Conifer</a>
  </li>
  <li>
    <a href="mailto:team@coniferplug.in"
      title="Emailz!">Get in touch</a>
  </li>
</ul>

<style>
  ul { list-style: disc; }
  li { margin-left: 1em; }
</style>
