/vendor/
/wp/
/wp-content/
/node_modules/
/database-backups/
/conifer

# Docs
/_book/
docs/.vitepress/dist
docs/.vitepress/cache

# test artifacts
/test/wp/
/test/wp-tests-lib/

# build artifacts
/conifer-*.tar.gz
/conifer-*.zip

# yarn artifacts, or "yartifacts"
yarn-error.log

# local configs
wp-cli.local.yml
/nbproject/private/

# documentation
/docs/_book/
/docs/reference/*.md
/docs/node_modules/

# IDEs
.vscode/*
.idea

.phpunit.result.cache
