/vendor/
/wp/
/wp-content/
/node_modules/
/_book/

# build artifacts
/conifer-*.tar.gz

# cypress test artifacts
/cypress/videos
/cypress/screenshots
.Trash*

# yarn artifacts, or "yartifacts"
yarn-error.log

# local configs
wp-cli.local.yml
/nbproject/private/
