# TravisCI configuration for sitecrafting/conifer

language: php
os:
  - linux
dist: bionic

php:
  - '7.4'

cache:
  directories:
    - '${HOME}/.composer/cache'

jobs:
  include:
    - name: 'Building docs'
      language: node_js
      node_js: 10
      install:
        - yarn install --frozen-lockfile
      script:
        - ./scripts/build-docs.sh

install:
  - composer install --no-interaction --prefer-dist

script:
  - vendor/bin/phpunit --group unit
  # TODO integration tests
  - ./vendor/bin/phpcs --standard=./phpcs.xml test lib
  # TODO coding standards
  #- vendor/bin/phpstan analyse
