includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 1
#    level: 2
#    level: 4
#    level: 5
#    level: max
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - phpstan/bootstrap.php
    scanFiles:
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    paths:
        - lib/
    ignoreErrors:
        # TODO
        - '#^Unsafe usage of new static\(\)\.$#'
