<phpunit
    bootstrap="./test/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
>
    <php>
		<env name="WP_MULTISITE" value="1"/>
	</php>
    <testsuites>
        <testsuite name="unit (multisite)">
            <directory suffix=".php">./test/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
